name: Actions CICD

on:
  push:
    branches:
      - main
      - cicd
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run Gradle lint
        run: ./gradlew --no-daemon checkstyleMain checkstyleTest

  unit_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run Gradle check
        run: ./gradlew --no-daemon check

  sonar:
    needs: unit_test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run sonarcloud scanner
        uses: SonarSource/sonarcloud-github-action@master
        with:
          organization: advprog-2026-6-project
          token: ${{ secrets.SONAR_TOKEN }}
          projectKey: advprog-2026-6-project_individual-preparation